<h1>Login</h1>

<%= form_tag '/login' do %>
<table class="table table-striped" style="width:500px ">

  <tr><td>Email:</td><td> <%= text_field_tag :email %></td></tr>
   <tr><td>Password:</td><td><%= password_field_tag :password %></td></tr>
 <td> </td><td><%= submit_tag "Login" %></td>
  
</table>
  

<% end %>