<h1>Dashboard</h1>
<table class="table table-bordered ">
<tr >
<td ><h4><b>No of Categories</b></h4></td><td><h4><%=@categories%></h4></td>
</tr>
<tr>
<td><h4><b>No of Products</b></h4></td><td><h4><%=@products%></h4></td>
</tr>
</table>